body {
	font-family: Century Gothic, Arial;
	/*height: 100%;*/
	/*background-color: #bcbcbc;*/
	background-color: #b2b2b2;
}

body, html {
	height: 100%;
	margin: 0;
}

.parallax {
	
	background-image: url("images/banner_back.png");

	height: 50%;
	background-repeat: no-repeat;
    	background-attachment: fixed;
    	background-position: center;
    	background-size: cover;
}

a {
	text-decoration: none;

}

h1 {
	margin: 0;
}

.container {

	width: 100%;
	background-color: Black;
	padding: 2px;

}

#top-bar {
	background-color: Black;
	font-size: 14px;
	color: White; 
	width: 1000px;
		margin-left: auto;
	margin-right: auto;
}

#logins {
	padding: 1px;
	float: left;
}

#logins ul {
	list-style-type: none;
	color: White;
}

#logins li {
	display: inline;
	margin: 30;
}

#social-links {
	padding: 15px 20px 1px 0px;
	float: right;
}

#header {
	background-color: #1c2a3f;
	margin-top: 100px;
}

#content{

}

#main{
	padding: 2px;
	width: 980px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}

.mainVideo {
	/*background-color: #b2b2b2;*/
	/*width: 70%;*/
}

.nextVideos {
	background-color: black;

	text-align: center;
	width: 30%;
}

#navigation{
	float: right;
	text-align: center;
	/*width: 996px;*/
	padding: 2px;
	
}

#navigation ul {
	list-style-type: none;
	color: White; 
}

#navigation li {
	display: inline;
}

#navigation li a {
	padding: 20px;
	text-decoration: none;
	color: White;
}

.selected {
	font-weight: bold;
}

.playthrough_banner img {
	width: 100%;

}

.playthrough_banner p {
    text-align: justify;
    letter-spacing: 3px;
}

#footer{
	clear: both;
	color: #3a3a3a;
	padding: 5px 10px 5px 10px;
	text-align: center;
}
